Repository opynfinance/squeeth-monorepo, pull requests merged in 2022-04, with the labels that each got.

#284 Fix: ethToBorrow is set as 0
  packages/frontend/src/state/crab/hooks.ts
Labels: bug, frontend

#287 feat: LP rebalancing through swapping and vault interaction
  packages/hardhat/contracts/interfaces/IController.sol
  packages/hardhat/contracts/interfaces/IWETH9.sol
  packages/hardhat/contracts/periphery/AaveControllerHelper.sol
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/UniswapControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDiamondStorage.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperLib.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
  packages/hardhat/deploy/07_deploy_controller_helper.ts
  packages/hardhat/deployments/ropsten/ControllerHelper.json
  packages/hardhat/deployments/ropsten/ControllerHelperUtil.json
  packages/hardhat/deployments/ropsten/solcInputs/dfd7860ebd97501ecbdb5935c168e58b.json
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/hardhat/test/e2e/periphery/controller-helper.ts
  packages/hardhat/test/integration-tests/periphery/controller-helper.ts
Labels: controller helper

#306 fix: remove unnecessary vaultId checks
  packages/hardhat/contracts/periphery/ControllerHelper.sol
Labels: controller helper

#307 fix: return burnt NFT to user
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
Labels: controller helper

#311 fix: revert tx for partially closing LP
  packages/hardhat/contracts/periphery/ControllerHelper.sol
Labels: controller helper

#312 fix: wrapping ETH for flashloan payment
  packages/hardhat/contracts/periphery/ControllerHelper.sol
Labels: controller helper

#322 Check vault ownership in parent function
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/hardhat.config.ts
Labels: controller helper

#325 feat: general swap
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
Labels: controller helper

#327 Improve ControllerHelper tests
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/UniswapControllerHelper.sol
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/hardhat/test/integration-tests/periphery/controller-helper.ts
  packages/hardhat/test/setup.ts
Labels: controller helper

#338 Close long and short / Close short and long ControllerHelper tests
  packages/hardhat/test/integration-tests/periphery/controller-helper.ts
Labels: controller helper

#319 fix: max debt amount to be total deb if debt if less than user oSQTH bal
  packages/frontend/pages/vault/[vid].tsx
Labels: frontend

#324 feat: add LP nft CR and liq price simulation
  packages/frontend/pages/vault/[vid].tsx
Labels: frontend

#348 feat: add increasing liquidity within same ranges and rename sellAll()
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/test/integration-tests/periphery/controller-helper.ts
Labels: controller helper

#355 feat: add from and sender to subgraph vault history
  packages/subgraph/schema.graphql
  packages/subgraph/src/constants.ts
  packages/subgraph/src/controller.ts
  yarn.lock
Labels: frontend

#341 Use correct dependency and fix lint issues in components
  packages/frontend/jest.config.js
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/src/components/Charts/CrabStrategyChart.tsx
  packages/frontend/src/components/Charts/LPBuyChart.tsx
  packages/frontend/src/components/Charts/LPMintChart.tsx
  packages/frontend/src/components/Charts/LongChart.tsx
  packages/frontend/src/components/Charts/LongSqueethPayoff.tsx
  packages/frontend/src/components/Charts/ShortChart.tsx
  packages/frontend/src/components/Charts/ShortSqueethPayoff.tsx
  packages/frontend/src/components/Charts/VaultChart.tsx
  packages/frontend/src/components/CustomSwitch.tsx
  packages/frontend/src/components/Input/NumberInput.tsx
  packages/frontend/src/components/Lp/GetSqueeth.tsx
  packages/frontend/src/components/Lp/LPTable.tsx
  packages/frontend/src/components/Lp/ObtainSqueeth.tsx
  packages/frontend/src/components/Lp/SqueethInfo.tsx
  packages/frontend/src/components/PositionCard.tsx
  packages/frontend/src/components/RestrictionInfo.tsx
  packages/frontend/src/components/Strategies/Crab/CapDetails.tsx
  packages/frontend/src/components/Strategies/Crab/StrategyHistory.tsx
  packages/frontend/src/components/Trade/Confirmed.tsx
  packages/frontend/src/components/Trade/Long/index.tsx
  packages/frontend/src/components/Trade/Short/index.tsx
  packages/frontend/src/components/Trade/YourVaults.tsx
  packages/frontend/src/hooks/__tests__/useAppCallback.test.ts
  packages/frontend/src/hooks/__tests__/useAppEffect.test.ts
  packages/frontend/src/hooks/__tests__/useAppMemo.test.ts
  packages/frontend/src/utils/__tests__/stringifyDeps.test.ts
  yarn.lock
Labels: frontend

#331 Add unsupported network
  packages/frontend/pages/index.tsx
  packages/frontend/pages/lp.tsx
  packages/frontend/pages/positions.tsx
  packages/frontend/pages/strategies.tsx
  packages/frontend/pages/vault/[vid].tsx
  packages/frontend/src/components/Button/WalletButton.tsx
  packages/frontend/src/components/Lp/GetSqueeth.tsx
  packages/frontend/src/components/Strategies/Crab/CrabTrade.tsx
  packages/frontend/src/components/Trade/Long/index.tsx
  packages/frontend/src/components/Trade/Short/index.tsx
  packages/frontend/src/state/wallet/atoms.ts
  packages/frontend/src/state/wallet/hooks.ts
Labels: frontend

#356 Long/Close didn't load a user's oSQTH balance
  packages/frontend/src/hooks/contracts/useTokenBalance.ts
  packages/frontend/src/state/positions/hooks.ts
Labels: frontend

#323 Configure atom test and add pnl tests
  .circleci/config.yml
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/components/Trade/YourVaults.test.tsx
  packages/frontend/src/hooks/useCrabPosition/index.ts
  packages/frontend/src/hooks/useCrabPosition/mocks.ts
  packages/frontend/src/hooks/useCrabPosition/useCrabPosition.test.tsx
  packages/frontend/src/hooks/useCrabPosition/useCrabPosition.ts
  packages/frontend/src/utils/atomTester.tsx
  packages/frontend/src/utils/floatifyBigNums.ts
  yarn.lock
Labels: frontend

#352 wrap/unwrap ETH pattern
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
  packages/hardhat/hardhat.config.ts
Labels: controller helper

#361 Refactor/positions
  packages/frontend/jest.config.js
  packages/frontend/pages/index.tsx
  packages/frontend/pages/positions.tsx
  packages/frontend/src/pages/positions/ConnectWallet.tsx
  packages/frontend/src/pages/positions/CrabPosition.tsx
  packages/frontend/src/pages/positions/History.tsx
  packages/frontend/src/pages/positions/LPedSqueeth.tsx
  packages/frontend/src/pages/positions/LongSqueeth.tsx
  packages/frontend/src/pages/positions/MintedSqueeth.tsx
  packages/frontend/src/pages/positions/Positions.tsx
  packages/frontend/src/pages/positions/ShortSqueeth.tsx
  packages/frontend/src/pages/positions/ShortSqueethLiquidated.tsx
  packages/frontend/src/pages/positions/YourVaults.test.tsx
  packages/frontend/src/pages/positions/YourVaults.tsx
  packages/frontend/src/pages/positions/useStyles.ts
Labels: frontend

#384 fix: determine desired amounts before LPing
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
  packages/hardhat/test/e2e/periphery/controller-helper.ts
Labels: controller helper

#389 Update app hooks and dependency of atoms and pricer
  packages/frontend/src/hooks/useAppCallback.tsx
  packages/frontend/src/hooks/useAppEffect.tsx
  packages/frontend/src/hooks/useAppMemo.tsx
  packages/frontend/src/state/ethPriceCharts/atoms.ts
  packages/frontend/src/utils/pricer.ts
  packages/frontend/src/utils/stringifyDeps.ts
Labels: frontend

#391 Fix flickering on vault page
  packages/frontend/pages/vault/[vid].tsx
  packages/frontend/src/hooks/useVaultHistory.ts
  packages/frontend/src/state/positions/hooks.ts
Labels: frontend

#390 Add ability to collect fees and deposit nft in vault actions
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/test/e2e/periphery/controller-helper.ts
Labels: controller helper

#360 Fix excess amounts when LPing
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
  packages/hardhat/contracts/periphery/lib/LiquidityAmounts.sol
  packages/hardhat/test/e2e/periphery/controller-helper.ts
  packages/hardhat/test/integration-tests/periphery/controller-helper.ts
Labels: controller helper
