Repository opynfinance/squeeth-monorepo, pull requests merged in 2022-06, with the labels that each got.

#509 Fix: add require for checking LP NFT balance
  packages/hardhat/contracts/libs/VaultLib.sol
  packages/hardhat/contracts/periphery/ControllerHelper.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/contracts/periphery/lib/ControllerHelperUtil.sol
Labels: controller helper

#511 Fix/bytecode putting
  packages/hardhat/contracts/periphery/ControllerHelper.sol
Labels: controller helper, internal-audit

#510 update comments for generalSwap and update e2e to use fixed block for mainnet fork
  packages/hardhat/ci/e2e.sh
  packages/hardhat/contracts/periphery/lib/ControllerHelperDataType.sol
  packages/hardhat/test/e2e/periphery/controller-helper.ts
Labels: controller helper, internal-audit

#505 Fe/uniswap subgraph
  packages/subgraph/config/mainnet-config.json
  packages/subgraph/config/ropsten-config.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/constants.ts
  packages/subgraph/src/mappings/core.ts
  packages/subgraph/src/mappings/position-manager.ts
  packages/subgraph/src/util.ts
  packages/subgraph/src/utils/index.ts
  packages/subgraph/src/utils/pricing.ts
  packages/subgraph/subgraph.template.yaml
Labels: don't merge

#501 Update subgraph for pnl
  packages/frontend/package.json
  packages/frontend/pages/index.tsx
  packages/frontend/src/components/PositionCard.tsx
  packages/frontend/src/hooks/__tests__/usePnL.test.ts
  packages/frontend/src/hooks/useCurrentPrices.ts
  packages/frontend/src/hooks/usePnL.ts
  packages/frontend/src/hooks/useTransactionHistories.ts
  packages/frontend/src/queries/squeeth/__generated__/TransactionHistories.ts
  packages/frontend/src/queries/squeeth/__generated__/VaultHistory.ts
  packages/frontend/src/queries/squeeth/__generated__/Vaults.ts
  packages/frontend/src/queries/squeeth/__generated__/normalizationFactorUpdates.ts
  packages/frontend/src/queries/squeeth/__generated__/normalizationFactorUpdatesTime.ts
  packages/frontend/src/queries/squeeth/__generated__/subscriptionVaultHistory.ts
  packages/frontend/src/queries/squeeth/__generated__/subscriptionVaults.ts
  packages/frontend/src/queries/squeeth/normHistoryQuery.ts
  packages/frontend/src/queries/squeeth/transactionHistoriesQuery.ts
  packages/frontend/src/utils/apollo-client.ts
  packages/frontend/types/global_apollo.ts
  packages/subgraph/config/mainnet-config.json
  packages/subgraph/config/ropsten-config.json
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/constants.ts
  packages/subgraph/src/controller.ts
  packages/subgraph/src/mappings/core.ts
  packages/subgraph/src/mappings/position-manager.ts
  packages/subgraph/src/util.ts
  packages/subgraph/src/utils/index.ts
  packages/subgraph/src/utils/pricing.ts
  packages/subgraph/src/wPowerPerp.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/.bin/transactionhistory.wasm
  packages/subgraph/tests/transactionHistory.test.ts
  packages/subgraph/tests/utils.ts
  yarn.lock
Labels: don't merge
